//- Link to update instagram feed
p
    a(href="/update-instagram-feed") Update Instagram

//- Link to update podcast feed
p
    a(href="/update-podcast-feed") Update Podcast

//- Render data output on page
p
    = data
